body {
    background-color: #f9f9f9;
}

.deposit_content {
    margin: 54px 0 40px;
    background-color: #fff;
    padding: 0 15px 30px;
}

.deposit_content .money_detail {
    height: 65px;
    line-height: 65px;
    font-size: 36px;
    border-bottom: 1px solid #DEDEDE;
}

.deposit_content #money_num {
    font-size: 36px;
    width: 75%;
    padding-left: 15px;
}

.deposit_content .balance_text {
    line-height: 64px;
    padding-left: 10px;
    font-size: 14px;
    color: #666;
}

.deposit_content .overall_deposit {
    color: #009AF2;
    margin-left: 10px;
}

.deposit_way img {
    width: 18px;
    height: 18px;
    margin-right: 15px;
    vertical-align: text-bottom;
}

.deposit_way p {
    font-size: 16px;
    width: 40%;
    display: inline-block;
}

.deposit_way .way_card {
    margin-left: 50px;
}

.deposit_submit {
    width: 92%;
    height: 44px;
    line-height: 44px;
    margin: 30px auto;
    border-radius: 4px;
    background-color: #009AF2;
    color: #fff;
    text-align: center;
}